
<div *ngFor="let product of products" class="card" style="width: 18rem; text-align:center;">
  <div class="card-header">
    <h3>{{product.name}}</h3>
  </div>
  <img class="card-img-top" src="{{product.picture}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{product.desc}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{product.price}} LE.</li>
    <li class="list-group-item">Subcategory: {{product.subcategory}} </li>
    <li class="list-group-item">Rate: {{product.rate}} </li>
    
  </ul>
  <div class="card-footer bg-transparent border-success"> <a class="btn btn-primary"  routerLink="/products/edit/{{product._id}}">Edit</a> </div>
</div>
