<div class="container" >
    <div class="row" >
        
    </div>
    <div class="row" >
        <div class="col-6">
            <h1> <strong>{{ product?.name }}</strong></h1>
            <h6>by: <a routerLink="/products/seller/{{product?.seller_id?._id}}">{{ product?.seller_id?.name }}</a> </h6>            
            <img width="100%" src="{{ product?.picture }}" alt="">
        </div>
        <div class="col-6">
            <h1 style="color: red; display:inline;"> <strong>{{ product?.price }} EGP</strong></h1>
            <h5>
                <strong>Description:</strong>
                <p>
                    {{ product?.desc}} 
                </p>
            </h5>
            <h6>
                <strong>Subcategory:</strong>
                <br>
                <a routerLink="/categories/{{ product?.category }}/{{ product?.subcategory }}">{{ product?.subcategory }}</a>
            </h6>
            <h5>
                <strong>Available QTY:</strong>
                <strong>{{ product?.stock }}</strong>
            </h5>
        </div>
        <br>
        <button class="btn btn-success btn-lg btn-block" routerLink="" >
                Add to cart
        </button>
    </div>
</div>
