<!--filter-->
<ul class="category-list">
  <h3>Categories</h3>
  <li class="filter-list" *ngFor="let category of categories">
    <div class="filter-checkbox">
      <div class="category-name">{{category.name}}</div>
    </div>
    <div class="filter-list">
      <div *ngFor="let subcategory of category.subcategories">
        <div class="filter-checkbox">
          <input id="subcategory-{{category.name}}" name="subcategory-{{category.name}}" [checked]="categoryNames[subcategory]" (change)="change(subcategory)"
            type="checkbox">
          <label for="subcategory-{{category.name}}">{{subcategory}}</label>
        </div>
      </div>
    </div>
    <hr>
  </li>
  <li class="filter-list">
      <div class="price-range">

    <label><h3>Price</h3></label>
    <br>
      <label> From
        <input [(ngModel)]="low" (input)="lowChange()" name="low">
      </label>
      <br>
      <label> To
        <input [(ngModel)]="high" (input)="highChange()" name="high" style="margin-left: 19px">
      </label>
    </div>
  </li>
</ul>
<!--div style="clear: both;"></div>
<ul>
    Price 
    From <input [(ngModel)]="low"  (input)="lowChange()" name="low" >
    To   <input  [(ngModel)]="high" (input) = "highChange()" name="high">
</ul-->

<!--results-->
<div *ngIf="!matchedProducts"><h2>Sorry, No Products Matched Your Search</h2></div>
<div *ngFor="let product of matchedProducts" class="search-content row m-1">

  <div class="col-sm-3">
    <img id="book-cover" src="{{ product?.picture }}">
    <h5 class="subtitles">Current rating: </h5>
    <div id="current-rating">

    </div>
  </div>
  <div class="col-sm-6">

    <!-- title -->
    <h2>{{ product?.name }}</h2>

    <!-- seller 
          <h5 class="subtitles">Title</h5>
          <a href="/library/author/}">Name</a>-->

    <!-- description -->
    <h5 class="subtitles">Description: </h5>
    <p id="description">{{ product?.desc}}</p>
    <h5 class="subtitles">Price: </h5>
    <p id="description">{{ product?.price}} L.E</p>
    <h5 class="subtitles">Stock: </h5>
    <p id="description">{{ product?.stock>0 ? product.stock : 'Out of stock'}} </p>
    <button type="button" class="btn btn-success" (click)="addToCart($event)" *ngIf="product?.stock>0">Add to Cart</button>
  </div>
  <div class="col-sm-3">
    <h5 class="subtitles" id="myrating">My rating</h5>

    <div id="myrating-div">
    </div>
  </div>
</div>