<%include ../layout/header.ejs %>

<form class="" action="/products/add" method="post" enctype="multipart/form-data">
product_name:  <input type="text" name="product_name" value=""><br>
  product_price:<input type="text" name="product_price" value=""><br>

  <br>
  <input type="submit" name="" value="Add">
</form>
<%include ../layout/footer.ejs %>
