<nav id="sidebar">
  <div class="sidebar-header">
      <!-- if user loged in -->
      <h3>
          <a href="#">Account</a>
      </h3>
  </div>

  <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Categories</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">

              <li>
                  <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false">Category 1</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu1">
                      <li>
                          <a href="#">subcategory 1</a>
                      </li>
                      <li>
                          <a href="#">subcategory 2</a>
                      </li>
                      <li>
                          <a href="#">subcategory 3</a>
                      </li>
                  </ul>

              </li>
              <li>
                  <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false">Category 2</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu2">
                      <li>
                          <a href="#">subcategory 1</a>
                      </li>
                      <li>
                          <a href="#">subcategory 2</a>
                      </li>
                      <li>
                          <a href="#">subcategory 3</a>
                      </li>
                  </ul>

              </li>
              <li>
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Category 3</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                          <a href="#">subcategory 1</a>
                      </li>
                      <li>
                          <a href="#">subcategory 2</a>
                      </li>
                      <li>
                          <a href="#">subcategory 3</a>
                      </li>
                  </ul>

              </li>

          </ul>
      </li>
      <li>
          <a href="#">About us</a>
      </li>
  </ul>
</nav>