<div class="wrapper">
  <!-- Sidebar Holder -->
  <!--app-sidebar [isActive]="isActive"></app-sidebar-->
  <nav id="sidebar" [class.active]="isActive">
    <div *ngIf="currentUser?.isAuthenticated" class="sidebar-header">
      <!-- if user loged in -->
      <h2 class="text-center">
        <a routerLink="">{{ currentUser?.user.name }}</a>
      </h2>
    </div>

    <ul class="list-unstyled components">
      <h2 class="text-center">Yalla Shopping</h2>
      <li class="active">
        <a href="#categoryList">Categories</a>
        <ul id="categoryList" class="list-unstyled">
          <li *ngFor="let category of categories">
            <a>{{category.name}}</a>
            <form action="">

              <ul class="list-unstyled" id="{{category.name}}">
                <li *ngFor="let subcategory of category.subcategories">
                  <input type="checkbox" class="form-check-input" name="{{category.name}}{{subcategory}}">
                  <a class="form-check-label" routerLink="/categories/{{category._id}}/{{subcategory}}">{{subcategory}}</a>
                </li>
              </ul>
            </form>


          </li>

        </ul>
      </li>
      <li>
        <a routerLink="aboutus">About us</a>
      </li>
    </ul>
  </nav>
  <!--end of sidebar-->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" (click)="collapse()" class="navbar-btn" [class.active]="isActive">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-navbar">

          <a class="navbar-brand" routerLink="">
            <img id="logo" src="../assets/images/logo.png" alt="">Yalla Shopping</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-2" *ngIf="!currentUser?.isAuthenticated">
                <a [routerLink]="['/users/registeration']" class="glyphicon glyphicon-user" class="nav-link">Sign Up</a>
              </li>
              <li class="nav-item mr-2" *ngIf="currentUser?.isAuthenticated && !currentUser?.isUser">
                <a [routerLink]="['/products/add']" class="nav-link">Add Products</a>
              </li>
              <li class="nav-item mr-2" *ngIf="currentUser?.isAuthenticated && !currentUser?.isUser">
                <a [routerLink]="['/products/seller']" class="nav-link">My products</a>
              </li>
              <li class="nav-item mr-2" *ngIf="currentUser?.isAuthenticated && !currentUser?.isUser">
                <a [routerLink]="['sellers/orders']" class="nav-link">My Orders</a>
              </li>

              <li class="nav-item mr-2" *ngIf="!currentUser?.isAuthenticated">
                <a [routerLink]="['/users/login']" class="nav-link">Login</a>

              </li>
              <li class="nav-item" *ngIf="currentUser?.isUser">
                <a [routerLink]="['/users/cart']">
                  <i class="fa fa-shopping-cart fa-2x  icon-grey">
                    <span class="badge">17</span>
                  </i>
                </a>
              </li>
              <li>
                <form (submit)="searchSubmit()" class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-1" name="searchWord" [(ngModel)]="searchWord" id="searchInput" style="width:40%" type="search"
                    placeholder="Search" aria-label="Search">
                  <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
                </form>
              </li>
              <li class="nav-item" *ngIf="currentUser.isAuthenticated">
                <a routerLink="" class="nav-link">{{ currentUser?.user.name }}</a>
              </li>
              <li class="nav-item" *ngIf="currentUser.isAuthenticated">
                <a (click)="logout()" routerLink="" class="nav-link">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
