<div class="card float-left m-3" style="width: 18rem;" [hidden] = 'ishidden' *ngFor="let product of products">
  <a routerLink="/product/{{ product._id }}">
    <img class="card-img-top" src="{{ product.picture | safeHtml}}" alt="Card image cap">
  <div class="card-body mx-auto">
    <h4 class="card-title">{{ product.name }}</h4>
  </div>
  <ul class="list-group list-group-flush mx-auto">
    <li class="list-group-item mx-auto">{{ product.price }} L.E</li>
    <li class="list-group-item mx-auto">{{ product.quantity }}</li>
    <li class="list-group-item mx-auto">{{ product.desc | limitTo : 20 }}</li>
  </ul>
  </a>
</div>