<div class="container">
  <div class="row">
    <div class="col offset-1 " style="padding-left: 0px; padding-right:
    0px;">
      <h1>prduct name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col offset-1 pt-5 justify-content-center " style="padding-left: 0px; padding-right: 0px;">
      <img class="img-responsive" width="300" height="300" src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/1517663_952765741510668_4526389284924912079_n.jpg?_nc_cat=0&oh=0026297d20a8768524bab3aef21c4e73&oe=5B2D0D69"
        alt="">
    </div>
    <div class="col offset-1">
      <h2 class="row justify-content-center">Client information</h2>
      <ul class="list-group row">
        <li class="list-group-item active">
          <h3>Name</h3>
        </li>
        <li class="list-group-item">
          <h4>Mohamed Gamal</h4>
        </li>
        <li class="list-group-item active">
          <h3>Email</h3>
        </li>
        <li class="list-group-item">
          <h4>m.gemyero91@gamil.com</h4>
        </li>
        <li class="list-group-item active">
          <h3>Address</h3>
        </li>
        <li class="list-group-item">
          <h4>Fayoum</h4>
        </li>
      </ul>
    </div>
    <div class="col offset-1">
      <div class="row">
        <h2>Order status</h2>
      </div>
      <div class="row">
        <select name="" id="">
          <option value="" disabled selected>chane status</option>
          <option value="ordered">ordered</option>
          <option value="recieved">recieved</option>
        </select>
      </div>
    </div>
  </div>
</div>