

<div class="wrapper">
  <ui-carousel [infinite]="true" [fade]="true" [speed]="500" height="300px" width="700px">
      <ui-carousel-item>
          <img src="../assets/images/sliders/la.jpg" alt="" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
          <img src="../assets/images/sliders/chicago.jpg" alt="ggg" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
          <img src="../assets/images/sliders/ny.jpg" alt="dddd" draggable="false">
      </ui-carousel-item>
  </ui-carousel>
</div>
