<!-- <ul class="list-unstyled" id="" >
    <li style="display: inline;" *ngFor="let cat of categories; let i = index">
        <a href="#{{i}}" style="display: inline;" class="navbar-brand"  data-toggle="collapse" aria-expanded="true">{{cat.name}}</a>
        <ul class="list-unstyled collapse" id="{{i}}">
            <li *ngFor="let subcat of cat.subcategories">
                <a routerLink="/categories/{{cat._id}}/{{subcat}}">{{subcat}}</a>
            </li>
        </ul>
    </li>
</ul> 



<div class="wrapper">
  <ui-carousel [infinite]="true" [fade]="true" [speed]="500" height="300px" width="700px">
      <ui-carousel-item>
          <img src="../assets/images/sliders/la.jpg" alt="" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
          <img src="../assets/images/sliders/chicago.jpg" alt="ggg" draggable="false">
      </ui-carousel-item>
      <ui-carousel-item>
          <img src="../assets/images/sliders/ny.jpg" alt="dddd" draggable="false">
      </ui-carousel-item>
  </ui-carousel>
</div>
-->

<!-- Slideshow container -->

<div class="wrapper">
<ngb-carousel class="wrapper" align="center">
    <ng-template ngbSlide interval="100">
        <img src="../assets/images/sliders/4.webp" alt="Random first slide">
    </ng-template>
    <ng-template ngbSlide interval="100">
        <img src="../assets/images/sliders/1.webp" alt="Random second slide">
    </ng-template>
    <ng-template ngbSlide interval="100">
        <img src="../assets/images/sliders/3.webp" alt="Random third slide">
    </ng-template>
    <ng-template ngbSlide interval="100">
            <img src="../assets/images/sliders/5.webp" alt="Random first slide">
    </ng-template>
</ngb-carousel>
</div>

<!-- products div  -->

<div class="container">
    <br>
    <h5>Top Rated products</h5>
    <div *ngFor="let product of topPs" class="button card float-left m-3" style="width: 18rem; text-align:center; cursor: pointer;" routerLink="/products/{{ product._id }}" href="#">
        <div class="card-header">
            <h3>{{product?.name}}</h3>
        </div>
        <img class="card-img-top" src="{{ product?.picture | safeHtml}}" alt="{{product.name}}" >
        <div class="card-body">
            <p class="card-text">{{product?.desc | limitTo:20}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Stock {{product?.stock}} </li>
            <li class="list-group-item">Price {{product?.price}} LE.</li>
        </ul>
        </div>          
</div>