<!-- Page Content Holder -->
<div class="wrapper">
    <!-- Sidebar Holder -->
    <app-sidebar></app-sidebar>
    <div id="content">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">YallaSouq</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li> -->
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-1" id="searchInput" style="width:40%" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <li class="nav-item">
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa fa-sign-in"></i> Login</a>
                        </li>

                        <li class="nav-item">
                            <a href="#">
                                <i class="fa fa-shopping-cart fa-2x  icon-grey">
                                    <span class="badge">17</span>
                                </i>
                            </a>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
</div>
</div>
