<div>
    <h1>
        About YALLA SOUQ
      </h1>
      <p>
        Welcome to YallSouq.com – the Middle East’s online marketplace. 
      </p>
      <p>
        From bracelets and backpacks to tablets and toy cars – we give you access to everything you need and want.
        <br>
        Our range is unparalleled, and our prices unbeatable.
      </p>
      <p>
        Driven by smart technology, everything we do is designed to put the power directly in your hands – giving you the freedom to shop however, whenever and wherever you like. 
      </p>  
      <p>
        We’re trusted by millions, because we don’t just deliver to your doorstep, we were born here.
        <br>
        With Souq.com you’ll always be getting a good deal – with exceptional service that makes your shopping experience as easy and seamless as possible. 
      </p>
      <h4>
        This is YallaSouq.com – the power is in your hands.
      </h4> 
      <h4>YallSouq.com Egypt: Tel:(+202)-01281555140
        <br>
      Yalla Souq Building, Smart Village, Cairo-Alex desert road, Cairo.</h4>
</div>

<div>
  <h1>
    Meet our Parteners
  </h1>
  <h5>Apple</h5>
  <h5>Samsung</h5>
  <h5>Lenovo</h5>
  <h5>Dell</h5>
  <h5>Sony</h5>
  <h5>Ken Wood</h5>
</div>

<div>
    <h1>
      Meet our Team
    </h1>
    <p>
      We offer you the most professional customer service, with our team, you will experience the best user experience ever..
    </p>
  </div>