<nav id="sidebar" [class.active] = "isActive">
  <div class="sidebar-header">
      <!-- if user loged in -->
      <h3>
          <a href="#">Account</a>
      </h3>
  </div>

  <ul class="list-unstyled components">
      <p>Yalla Shopping</p>
      <li class="active">
          <a href="#category-list" data-toggle="collapse" aria-expanded="false">Categories</a>
          <ul class="list-unstyled" id="category-list">
            <li  *ngFor="let category of categories">
                  <a href="#{{category.name}}" data-toggle="collapse"  aria-expanded="false">{{category.name}}</a>
                  <ul class="list-unstyled" id="{{category.name}}">
                      <li *ngFor="let subcategory of category.subcategories">
                          <a href="#">{{subcategory}}</a>
                      </li>
                  </ul>

              </li>

          </ul>
      </li>
      <li>
          <a href="#">About us</a>
      </li>
  </ul>
</nav>