<div class="container border border-primary p-5">
  <div class="row">
    <h2>Forget your password?</h2>
  </div>
  <div class="row mt-2">
    <p>
      Enter your email address below to to reset your password. You will be sent an email which you will need to continue. You
      may need to check your spam folder.
    </p>
  </div>
  <div class="row mt-2">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="email" name="email">
      </div>
      <button (click)="submitIt()" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
