
<div class="card col-12">
<h1 align="center" >
  User Registeration Form
</h1>
<form (ngSubmit)="submitIt()" action="#" method="post" #userRegisterForm="ngForm">

  <table class="form-group" align="center" >
    <tr>
      <td>
        Name
        <span color="red"><font color="red">*</font></span>
      </td>
      <td>
        <input class="form-control" type="text" required name="name" id="name" [(ngModel)]="name" #uname="ngModel">
      </td>
    </tr>
    <tr>
      <td>
        Email
        <span color="red"><font color="red">*</font></span>        
      </td>
      <td>
        <input class="form-control" type="text" required name="email" id="email" pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' [(ngModel)]="email" #uemail="ngModel">
        <div class="error" [hidden]="uemail.pristine||uemail.valid" >email is not valid</div>                
      </td>
    </tr>
    <tr>
      <td>
        Password
        <span color="red"><font color="red">*</font></span>        
      </td>
      <td>
        <input class="form-control" type="password" pattern=".{8,}" required name="password" id="password" [(ngModel)]="password" #upassword="ngModel">
      </td>
    </tr>
    <tr>
      <td>
        Confirm Password
        <span color="red"><font color="red">*</font></span>
      </td>
      <td>
        <input class="form-control" type="password" pattern=".{8,}" required name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" #uconfirmPassword="ngModel">
        <div class="error" [hidden]="uconfirmPassword.pristine || upassword.value == uconfirmPassword.value">Password mis-match</div>               
      </td>
    </tr>
    <tr>
      <td>
        Adress
        <span color="red"><font color="red">*</font></span>        
      </td>
      <td>
        <input type="text" class="form-control" required name="address" id="address" [(ngModel)]="address" #uaddress="ngModel">
      </td>
    </tr>
    <tr>
      <td>
        Image
      </td>
      <td>
        <input type="file" class="form-control"  name="picture" id="picture" [(ngModel)]="picture" #upicture (change)="fileUpload(upicture.files)" >
      </td>
    </tr>
    <tr>
      <!-- <td colspan="2" >
        <input type="checkbox" name="termsOfUse" id="termsOfUse" value=""#ucheck>
        <label for="termsOfUse">agree to the terms of use</label>
      </td> -->
    </tr>
    <tr>
      <td colspan="2">
        <input [disabled]="!userRegisterForm.valid" class="btn btn-success btn-block mb-2" type="submit" value="Register">
      </td>
    </tr>
  </table>
</form>
<div align="center">
  <span>Any field with this sign<font color="red">*</font>is required</span>
</div>
</div>
<div align="center" class="error">
  {{serverErrors}}
</div>
